<div class="catalog-container">

    <h1>Catálogo de fragancias</h1>

    @if (loading) {
    <div class="loading">
        <mat-spinner diameter="40"></mat-spinner>
        <p>Cargando productos...</p>
    </div>
    }

    <div class="filters">
        <mat-form-field appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="Dior, Chanel..." [(ngModel)]="search" (keyup)="filterProducts()" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Género</mat-label>
            <mat-select [(ngModel)]="selectedGender" (selectionChange)="filterProducts()">
                <mat-option value="">
                    Todos
                </mat-option>
                <mat-option value="MEN">
                    Hombre
                </mat-option>
                <mat-option value="WOMEN">
                    Mujer
                </mat-option>
                <mat-option value="UNISEX">
                    Unisex
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>



    <div class="products-grid">
        @for (product of products; track product.id) {

        <mat-card class="product-card" [routerLink]="['/product', product.slug]">

            <div class="badges">
                @if (product.isNew) {
                <span class="badge new">Nuevo</span>
                }

                @if (product.bestSeller) {
                <span class="badge best">Más vendido</span>
                }

                @if (product.featured) {
                <span class="badge featured">Destacado</span>
                }
            </div>

            <div class="image-box">
                <img [src]="product.mainImageUrl ? baseUrl + product.mainImageUrl : 'assets/no-image.png'"
                    [alt]="product.name" />
            </div>

            <mat-card-content>
                <p class="brand">{{ product.brandName }}</p>
                <h3>{{ product.name }}</h3>
                <p class="description">{{ product.description }}</p>
                <p class="price">Q {{ product.price }}</p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-raised-button color="primary">
                    Ver producto
                </button>
            </mat-card-actions>

        </mat-card>

        }
    </div>

</div>